.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--page-padding);
  gap: var(--page-gap);
}

.experience__title {
  font-size: var(--section-title-size);
}

.experience__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--page-gap);
}