.main-button {
  flex: 0;
  width: fit-content;
  max-width: 100%;
  background-color: var(--purple);
  padding: 1rem 4rem;
  font-size: var(--section-text-size);
  color: var(--font-color);
  border-radius: 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  user-select: none;
  white-space: nowrap;

  /* * Animation (Shimering) */
  background-image: linear-gradient(
    -60deg,
    transparent 0%, transparent 40%,
    #F4EEE377 40%, #F4EEE377 60%,
    transparent 60%, transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
  /* * Animation (Shimering) */
  cursor: pointer;
}

.main-button:hover {
  /* * Animation (Shimering) */
  background-position-x: -150%;
  transition: background-position-x 1150ms;
  /* * Animation (Shimering) */
}

.main-button:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

@media screen and (max-width: 570px) {
  .main-button {
    padding: 1rem 2rem;
  }
  
}