:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-color: #FEFCFE;
  --container-color: #212221;
  --background-color: #111214;
  --section-container: #16171B;
  --fragment-color: #2E2B3A;
  --purple: #A17CED;

  --container-shadow:
    0 -4px 4px 0 rgba(0, 0, 0, 0.25), /* Shadow at the outer top */
    0 4px 4px 0 rgba(0, 0, 0, 0.25);  /* Shadow at the outer bottom */
  --container-gradient: linear-gradient(0deg, var(--section-container), var(--fragment-color));

  --page-padding: 4rem;
  --page-gap: 2rem;
  --main-title-size: 4rem;
  --section-title-size: 3rem;
  --section-subtitle-size: 2rem;
  --section-subtitle-2-size: 1.5rem;
  --section-text-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);

  scrollbar-color: var(--purple) var(--section-container);
  scrollbar-arrow-color: var(--purple);
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

main {
  margin-top: 4rem;
}

::-webkit-scrollbar {
  width: 1rem; /* Mostly for vertical scrollbars */
  height: 1rem; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--purple);
}

::-webkit-scrollbar-track { /* Background */
  background: var(--section-container);
  border-radius: 0;
}

@media screen and (max-width: 480px) {
  :root {
    --page-padding: 1.5rem;
    --page-gap: 1rem;
    --main-title-size: 2rem;
    --section-title-size: 1.5rem;
    --section-subtitle-size: 1.25rem;
    --section-subtitle-2-size: 1rem;
    --section-text-size: 0.75rem;
  }
}