.skill {
  width: fit-content;
  min-width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skill__icon {
  position: relative;
  width: 100px;
  height: 100px;
}

.skill__title {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .skill__icon {
    max-width: 75px;
    width: 75px;
    height: 75px;
  }
}