.skill {
  width: fit-content;
  min-width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skill__icon {
}

.skill__title {
  text-align: center;
}