.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--page-gap);
  padding: var(--page-padding);
  background: var(--section-container);
  box-shadow: var(--container-shadow);
}

.skills-section__title {
  font-size: var(--section-title-size);
}

.skills-section__categories {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-section__category {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  background-color: transparent;
  color: inherit;
  border: none;

  font-size: var(--section-subtitle-2-size);
}

.skills-section__category--selected {
  font-weight: bold;
  color: var(--purple);
}

.skills-section__category:hover::after{
  width: 100%;
}

.skills-section__category::after {
  content: "";
  margin-top: .5rem;
  display: block;
  width: 0;
  transition: width 0.3s;
  height: 2px;
  border-radius: 1rem;
  background: var(--purple);
}

.skills-section__skill-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 800px ) {
  .skills-section__categories {
    width: 100%;
    transition: all 1s;
  }
}